* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.footer-wrap {
  width: 100%;
  height: auto;
  background-color: white;
}

body {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style-type: none;
}

footer {
  background-image: url("../IMG/footer-back.svg");
  max-width: 1540px;
  background-size: cover;
  width: 100%;
  min-height: 721px;
  height: auto;
  padding-top: 23px;
  padding-left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .logo-in-foot {
  width: 169.86px;
  height: 53.83px;
}

footer .footer-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1356px;
  width: 100%;
  min-height: 257px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-infos .foot-info {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 297px;
  width: 100%;
  min-width: 190px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
  gap: 19px;
}

footer .footer-infos .foot-info .title {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 31.1489px;
  line-height: 140%;
  width: 100%;
  color: #000000;
  border-bottom: 1px solid #000000;
}

footer .footer-infos .foot-info .info-menu {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-infos .foot-info .info-menu a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

footer .contacts {
  max-width: 771px;
  min-width: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 235px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 47px;
  min-height: 235px;
}

@media (max-width: 818px) {
  footer .contacts {
    background: -webkit-gradient(linear, right top, left top, from(#4429BC), color-stop(34.38%, rgba(87, 58, 217, 0.93)), to(rgba(150, 131, 236, 0.53)));
    background: linear-gradient(270deg, #4429BC 0%, rgba(87, 58, 217, 0.93) 34.38%, rgba(150, 131, 236, 0.53) 100%);
    padding: 4px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

footer .contacts .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39px;
}

footer .contacts .contact-info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

footer .contacts .contact-info .contact span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

footer .contacts .images-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 325px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
