ul {
  list-style-type: none;
}

* {
  margin-top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (max-width: 480px) {
  body {
    margin: 0px 0px;
  }
}

.work-space {
  max-width: 1540px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reg .reg-block {
  width: 50%;
  min-height: 721px;
  min-width: 204px;
}

@media (max-width: 763px) {
  .reg .reg-block {
    max-width: 1540px;
    width: 100%;
  }
}

.reg .reg-image {
  background-image: url("../IMG/reg_img.jpg");
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-size: cover;
}

.reg .reg-image .reg-pluses {
  background: rgba(12, 43, 153, 0.57);
  max-width: 516px;
  width: 100%;
  min-height: 259px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg .reg-image .reg-pluses .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  max-width: 470px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.reg .reg-image .reg-pluses .plus .plus-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  max-width: 420px;
  width: 100%;
}

.reg .reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 67px 75px;
  background-color: #afe4f1;
  gap: 60px;
}

@media (max-width: 500px) {
  .reg .reg-form {
    max-width: 1540px;
    padding: 67px 20px;
    width: 100%;
  }
}

.reg .reg-form .form-caption {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 50px;
  color: #0C1C54;
}

.reg .reg-form form {
  max-width: 577px;
  width: 100%;
  min-width: 200px;
  background: rgba(254, 249, 249, 0.55);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 62px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .reg .reg-form form {
    max-width: 1540px;
    width: 100%;
  }
}

.reg .reg-form form .wrap-input {
  border-bottom: 1px solid #000000;
  width: 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg .reg-form form input {
  outline: none;
  background-color: rgba(254, 249, 249, 0);
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 170%;
  color: #000000;
  width: 139px;
}

.reg .reg-form form button {
  max-width: 242px;
  width: 100%;
  outline: none;
  border: none;
  height: 52px;
  background: rgba(26, 46, 116, 0.74);
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
}
